<% include header.ejs %>

<div class="main-container">

    <main class="site-main">

        <!-- Container -->
        <div class="container">

            <br>
            <div class="section-header">
                <h3>Інформаційна сторінка</h3>
            </div><!-- Section Header /- -->

            <div class="row">

                <div class="container-fluid author-post tab-content" style="margin-top: -40px">

                    <!-- We Are Doing -->
                    <div class="container-fluid we-are-doing-section">
                        <!-- Author Content -->
                        <div class="col-md-6 author-content">
                            <h3>Сіка Василь Петрович</h3>
                            <p>Староста Сторожницької сільської ради Ужгородського району Закарпатської області.</p>
                            <p>Дата обрання: 31.10.2010р</p>
                            <a href="/contact-us" title="Контакти">Контакти</a>
                        </div><!-- Author Content -->
                        <div class="col-md-6 author-image-block">
                            <i><img src="assets/images/author-content-img.jpg" alt="Author Image"/></i>
                        </div>
                    </div><!-- We Are Doing /- -->

                    <!-- Our Experience and Skills -->
                    <div class="container-fluid experience-skills">
                        <h3 class="block-title">Інформація</h3>
                        <!-- Accoridan -->
                        <div class="col-md-6 col-sm-12">
                            <div class="contact-detail">
                                <div class="detail-box">
                                    <p><i class="fa fa-map"></i><b>Адміністративний центр:</b><br> Сторожниця</p>
                                    <p><i class="fa fa-male"></i><b>Населення:</b><br> 2623 осіб</p>
                                    <p><i class="fa fa-hashtag"></i><b>Код ЄДРПОУ:</b><br> 22114785</p>
                                    <p><i class="fa fa-hashtag"></i><b>КОАТУУ:</b><br> 2124886301</p>
                                </div>
                            </div>
                        </div>
                        <!-- Skill Block -->
                        <div class="col-md-6 col-sm-12">
                            <div class="contact-detail">
                                <div class="detail-box">
                                    <p><i class="fa fa-map-marker"></i><b>Адреса:</b><br> Закарпатська обл., Ужгородський р-н, с. Сторожниця <br> вул. Шевченка</p>
                                    <p><i class="fa fa-clock-o"></i><b>Час роботи:</b><br> пн-пт 8:00-17:00</p>
                                    <p><i class="fa fa-paper-plane"></i><b>Поштовий індекс:</b><br> 89421</p>
                                    <p><i class="fa fa-phone"></i><b>Контактні телефони::</b><br></p>
                                    <p><a href="tel:05053-28997">05053-28997</a></p>
                                    <p><a href="tel:03127-32613">03127-32613</a></p>
                                </div>
                            </div>
                        </div><!-- Skill Block /- -->
                    </div>
                </div>
            </div>
        </div>

    </main>

</div>

<% include footer.ejs %>